<h1>Word Focus Chapel Word Casts</h1>
<div>
  <table class="table table-hover">
    <thead>
      <th><h2>Sermons</small></h2></th>
    </thead>
    <% @media.each do |medium| %>
    <tbody>
      <td><h1><small><%= link_to medium.title, medium %>
          <% if medium.latest? %>
            <span class="label label-danger">Last Sunday</span>
          <% end %> 
          </small></h1>
      </td>
    </tbody>
    <% end %>
  </table>
</div>

<% content_for :head, auto_discovery_link_tag(:atom, media_url(format: "atom")) %>

<%= link_to "rss", media_url(format: "atom") %>