/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body, html {
 height: 100%;
 background-color: #000000;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

ul, .list-group, .list-group-item, li {
  background-color: #000000;	
}

a {
  color: #fff;
  &:hover {
    color: #b30000;
  }
}

h1, h3, h4 {
  color: #ffd700;
}

small {
	color: #b30000;
}
h2 { color: #b30000; }
.btn, button {
  background-color: #b30000;
  color: #b30000;
  &:hover {
    background-color: #ffd700; 
    color: #fff;
  }
}

panel {
	background-color: transparent;
}
panel, panel-body {
	background-color: #000000;
}
